@page "/"
@using System.Timers


<div class="card text-center" style="width: 18rem;">
  <div class="card-header">
    Oh That Timer!
  </div>
  <div class="card-body">
    <div class="text-center">
        <h1 class="display-3">@_currentTime</h1>
    </div>
    <div class="d-flex justify-content-between">
        <button type="button" class="btn @(_isRunning ? "btn-danger" : "btn-primary")" @onclick="StartStop">
            @if(_isRunning)
            {
                <span class="oi oi-media-stop"></span>@(" Stop")
            }
            else
            {
                <span class="oi oi-media-play"></span>@(" Start")
            }
        </button>
        <button type="button" class="btn btn-secondary" @onclick="Reset">
            <span class="oi oi-reload"></span> Reset
        </button>
    </div>
  </div>
  <div class="card-footer text-muted">
        <button type="button" class="btn btn-secondary" disabled="@(_isRunning)" @onclick="ReverseDirection">
            <span class="oi @_directionClass"></span> @_directionLabel
        </button>
  </div>
</div>

@code {
    private string _currentTime;
    Timer _timer;
    DateTime _startTime;
    TimeSpan _savedTime;
    TimeSpan _differenceTime;
    bool _isRunning;
    string _directionLabel = "Count Up";
    string _directionClass = "oi-arrow-top";

    protected override async Task OnInitializedAsync()
    {
        var result = "0.00";

        _currentTime = string.IsNullOrEmpty(result) ? "0.00" : result;

        _isRunning = false;
        _timer = new Timer(10);
        _timer.Elapsed += async (sender, e) => await TimerTick(sender, e);
        _savedTime = GetTimeSpanFromResult(_currentTime);
        _differenceTime = new TimeSpan();
    }

    public void ReverseDirection()
    {
        if (_directionLabel == "Count Up")
        {
            _directionLabel = "Count Down";
            _directionClass = "oi-arrow-bottom";
        }
        else
        {
            _directionLabel = "Count Up";
            _directionClass = "oi-arrow-top";
        }
    }

    private TimeSpan GetTimeSpanFromResult(string result)
    {
        // This is the default value
        if(result == "0.00")
        {
            return new TimeSpan();
        }

        var min = 0;
        var sec = 0;
        var mil = 0;
        var secPart = result;

        if(result.Contains(":"))
        {
            var minParts = result.Split(":");
            min = int.Parse(result.Split(":")[0]);
            secPart = minParts[1];
        }

        var secParts = secPart.Split(".");
        sec = int.Parse(secParts[0]);
        mil = int.Parse(secParts[1]) * 10;
        
        return new TimeSpan(0, 0, min, sec, mil);
    }

    private async Task TimerTick(object sender, ElapsedEventArgs e)
    {
        var updatedTime = DateTime.Now;
        _differenceTime = (updatedTime - _startTime) + _savedTime;
        var format = _differenceTime.Minutes < 1 ? @"%s\.ff" : @"%m\:ss\.ff";

        _currentTime = _differenceTime.ToString(format);

        this.StateHasChanged();
        await Task.CompletedTask;
    }

    private void StartStop()
    {
        if(_isRunning)
        {
            _timer.Stop();
            _savedTime = _differenceTime;
            _isRunning = false;
        }
        else
        {
            _startTime = DateTime.Now;
            _timer.Start();
            _isRunning = true;
        }
    }

    private void Reset()
    {
        _timer.Stop();
        _savedTime = new TimeSpan();
        _differenceTime = new TimeSpan();
        _isRunning = false;
        _currentTime = "0.00";
    }
}